<div class="row">
  <div class="col-md-8 person">
    <!-- <%= image_tag "thom_anderson", alt: "Tom" %> -->
  </div>
  <div class="col-md-4 as-sidebar">
    <%= image_tag "ASlogo.png", alt: "Airspace Technologies Logo" %>
    <div class="white-box">
      <h1 class="h3">Thomas Anderson</h1>
      <p>Sales Manager</p>
      <p>(760) 223-4167</p>
    </div>
    <div class="green-box">
      <div class="container">
        <h1 class="h3">My Favorite Quote:</h1>
        <p>
          "If I have seen further, it's by standing on the shoulders of giants."
        </p>
        <div>
          I AM THE SPINNING ARROW
        </div>
        <p>
          Airspace is the most incredible company! We do all this amazing stuff.
        </p>
        <p>
          Talk to me now!
        </p>
        <p>
          Talk to me now!
        </p>
        <p>
          Talk to me now!
        </p>
        <p>
          Talk to me now!
        </p>
        <p>
          Talk to me now!
        </p>
        <p>
          Talk to me now!
        </p>
        <p>
          Talk to me now!
        </p>
        <p>
          Talk to me now!
        </p>
        <p>
          Talk to me now!
        </p>
        <p>
          Talk to me now!
        </p>
        <p>
          Talk to me now!
        </p>
        <p>
          Talk to me now!
        </p>

      </div>
    </div>
  </div>
</div>
