<div class="row">
  <div class="col-md-8">
    <%= image_tag "thom_anderson", alt: "Tom" %>
  </div>
  <div class="col-md-4 as-sidebar">
    <div class="container">
      <%= image_tag "ASlogo", alt: "Airspace Technologies Logo" %>
    </div>
  </div>
</div>
